.banner-container {
  width: 100%;
  max-height: 450px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
